{% load static %}
<header class="header-banner-two header-two">
    <div class="header-shape">
        <div class="header-shape-item"> <img src="{% static 'assets/images/circle-1.png' %}" alt="shape"> </div>
        <div class="header-shape-item"> <img src="{% static 'assets/images/header-square-shape.png' %}" alt="shape"> </div>
    </div>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="header-content header-content-full"> <small class="line-shape-bg">Cyber Solution</small>
                    <h1>Business Cyber Security <span>Services</span></h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim nmmet consectetur adiinamontetur adipisicing</p>
                    <div class="header-button"> <a href="#" class="btn">Discover More <i class="flaticon-right-arrow-4"></i></a> <a href="#" class="btn btn-border">Get A Quote <i class="flaticon-right-arrow-4"></i></a> </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="header-content-image text-center text-lg-start"> <img src="{% static 'assets/images/header-shape-image.png' %}" alt="header"> </div>
            </div>
        </div>
    </div>
</header>