<div class="service-section pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3 pb-30">
                <div class="service-box">
                    <div class="service-box-inner">
                        <div class="service-box-icon"> <i class="flaticon-design"></i> </div>
                        <div class="service-box-text">
                            <h3>Software Upgration</h3>
                            <p>Tur adipisicing elit sed deimod magna aliqua Ut enim urdisiing elit sedo eiusmoad</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 pb-30">
                <div class="service-box">
                    <div class="service-box-inner">
                        <div class="service-box-icon"> <i class="flaticon-antivirus"></i> </div>
                        <div class="service-box-text">
                            <h3>Use Antivirus Software</h3>
                            <p>Tur adipisicing elit sed deimod magna aliqua Ut enim urdisiing elit sedo eiusmoad</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 pb-30">
                <div class="service-box">
                    <div class="service-box-inner">
                        <div class="service-box-icon"> <i class="flaticon-virus-warning"></i> </div>
                        <div class="service-box-text">
                            <h3>Identifying Threats</h3>
                            <p>Tur adipisicing elit sed deimod magna aliqua Ut enim urdisiing elit sedo eiusmoad</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 pb-30">
                <div class="service-box">
                    <div class="service-box-inner">
                        <div class="service-box-icon"> <i class="flaticon-website"></i> </div>
                        <div class="service-box-text">
                            <h3>Check Website Url</h3>
                            <p>Tur adipisicing elit sed deimod magna aliqua Ut enim urdisiing elit sedo eiusmoad</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>