{% load static %}
<section class="about-section pb-70 about-bg-shape">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-12 col-lg-6 pb-30">
                <div class="about-item-image text-center"> <img src="{% static 'assets/images/about-image-three.png' %}" alt="about"> </div>
            </div>
            <div class="col-sm-12 col-lg-6">
                <div class="max-585 mx-auto mx-lg-0">
                    <div class="about-item-text">
                        <div class="section-title section-title-left text-start"> <small>About Cysec</small>
                            <h2>Our Approach Is Simple But Not <span>Time-Wasting</span></h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamamet, consectetur adipisi</p>
                        </div>
                        <div class="counter-item-content about-section-counter">
                            <div class="counter-content-list">
                                <div class="counter-content-thumb"> <i class="flaticon-secure"></i> </div>
                                <div class="counter-content-text">
                                    <h3 class="color-main"><span class="counter">2,700</span> <sup>+</sup></h3>
                                    <p>Cybersecurity Projects</p>
                                </div>
                            </div>
                            <div class="counter-content-list">
                                <div class="counter-content-thumb"> <i class="flaticon-customer"></i> </div>
                                <div class="counter-content-text">
                                    <h3 class="color-main"><span class="counter">1,350</span> <sup>+</sup></h3>
                                    <p>Customers Served Globally</p>
                                </div>
                            </div>
                            <div class="counter-content-list">
                                <div class="counter-content-thumb"> <i class="flaticon-read"></i> </div>
                                <div class="counter-content-text">
                                    <h3 class="color-main"><span class="counter">350</span> <sup>+</sup></h3>
                                    <p>Cybersecurity Experts</p>
                                </div>
                            </div>
                            <div class="counter-content-list">
                                <div class="counter-content-thumb"> <i class="flaticon-star"></i> </div>
                                <div class="counter-content-text">
                                    <h3 class="color-main"><span class="counter">250</span> <sup>%</sup></h3>
                                    <p>Customer Retention Rate</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="quality-section pb-70">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 pb-30">
                <div class="quality-card quality-card-red">
                    <div class="quality-card-icon"> <i class="flaticon-consultant"></i> </div>
                    <div class="quality-card-content">
                        <h4>01</h4>
                        <h3>Product Consultation</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur sequi nesciunt. Neque porro quisquam estet dolore magnam aliquauptatem.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 pb-30">
                <div class="quality-card quality-card-blue">
                    <div class="quality-card-icon"> <i class="flaticon-shield"></i> </div>
                    <div class="quality-card-content">
                        <h4>02</h4>
                        <h3>Security Consultation</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur sequi nesciunt. Neque porro quisquam estet dolore magnam aliquauptatem.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 offset-md-3 offset-lg-0 pb-30">
                <div class="quality-card quality-card-green">
                    <div class="quality-card-icon"> <i class="flaticon-customer-service"></i> </div>
                    <div class="quality-card-content">
                        <h4>03</h4>
                        <h3>24/7 Technical Support</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur sequi nesciunt. Neque porro quisquam estet dolore magnam aliquauptatem.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>