<section class="partner-section p-tb-100 bg-off-white">
    <div class="container">
        <div class="section-title"> <small>Partners</small>
            <h2>We're Working With</h2> </div>
        <div class="partner-carousel default-carousel owl-carousel owl-theme">
            <div class="item">
                <div class="partner-thumb">
                    <a href="#"> <img src="assets/images/partner-1.png" alt="partner"> </a>
                </div>
            </div>
            <div class="item">
                <div class="partner-thumb">
                    <a href="#"> <img src="assets/images/partner-2.png" alt="partner"> </a>
                </div>
            </div>
            <div class="item">
                <div class="partner-thumb">
                    <a href="#"> <img src="assets/images/partner-3.png" alt="partner"> </a>
                </div>
            </div>
            <div class="item">
                <div class="partner-thumb">
                    <a href="#"> <img src="assets/images/partner-4.png" alt="partner"> </a>
                </div>
            </div>
            <div class="item">
                <div class="partner-thumb">
                    <a href="#"> <img src="assets/images/partner-1.png" alt="partner"> </a>
                </div>
            </div>
            <div class="item">
                <div class="partner-thumb">
                    <a href="#"> <img src="assets/images/partner-2.png" alt="partner"> </a>
                </div>
            </div>
        </div>
    </div>
</section>