<section class="service-section p-tb-100">
    <div class="container">
        <div class="section-title section-title-lg"> <small>Cybersecurity Services</small>
            <h2>Cyber Security Solutions & Technology Aid <span>Entire Solution</span></h2> </div>
        <div class="service-item-grid d-flex flex-wrap">
            <div class="service-item-list service-box-two">
                <div class="service-box-icon"> <i class="flaticon-password"></i> </div>
                <div class="service-box-text">
                    <h3>Choose Strong Passwords</h3>
                    <p>Lorem ipsum dolor amet consectetur adiising eli sed do eiusmod tempor incididunt ut labore et dolore magna aliquaqem</p>
                    <p><a href="service-details.html" class="redirect-link">Learn More <i class="flaticon-right-arrow-2"></i></a></p>
                </div>
            </div>
            <div class="service-item-list service-box-two">
                <div class="service-box-icon"> <i class="flaticon-bug"></i> </div>
                <div class="service-box-text">
                    <h3>Update Your Antivirus</h3>
                    <p>Lorem ipsum dolor amet consectetur adiising eli sed do eiusmod tempor incididunt ut labore et dolore magna aliquaqem</p>
                    <p><a href="service-details.html" class="redirect-link">Learn More <i class="flaticon-right-arrow-2"></i></a></p>
                </div>
            </div>
            <div class="service-item-list service-box-two">
                <div class="service-box-icon"> <i class="flaticon-sign-out"></i> </div>
                <div class="service-box-text">
                    <h3>Remember To Log Off</h3>
                    <p>Lorem ipsum dolor amet consectetur adiising eli sed do eiusmod tempor incididunt ut labore et dolore magna aliquaqem</p>
                    <p><a href="service-details.html" class="redirect-link">Learn More <i class="flaticon-right-arrow-2"></i></a></p>
                </div>
            </div>
            <div class="service-item-list service-box-two">
                <div class="service-box-icon"> <i class="flaticon-network"></i> </div>
                <div class="service-box-text">
                    <h3>Safety In Trusted Websites</h3>
                    <p>Lorem ipsum dolor amet consectetur adiising eli sed do eiusmod tempor incididunt ut labore et dolore magna aliquaqem</p>
                    <p><a href="service-details.html" class="redirect-link">Learn More <i class="flaticon-right-arrow-2"></i></a></p>
                </div>
            </div>
            <div class="service-item-list service-box-two">
                <div class="service-box-icon"> <i class="flaticon-email-2"></i> </div>
                <div class="service-box-text">
                    <h3>Check Emails Before Opening </h3>
                    <p>Lorem ipsum dolor amet consectetur adiising eli sed do eiusmod tempor incididunt ut labore et dolore magna aliquaqem</p>
                    <p><a href="service-details.html" class="redirect-link">Learn More <i class="flaticon-right-arrow-2"></i></a></p>
                </div>
            </div>
            <div class="service-item-list service-box-two">
                <div class="service-box-icon"> <i class="flaticon-broken-link"></i> </div>
                <div class="service-box-text">
                    <h3>Check Website Url</h3>
                    <p>Lorem ipsum dolor amet consectetur adiising eli sed do eiusmod tempor incididunt ut labore et dolore magna aliquaqem</p>
                    <p><a href="service-details.html" class="redirect-link">Learn More <i class="flaticon-right-arrow-2"></i></a></p>
                </div>
            </div>
        </div>
    </div>
</section>