<section class="pricing-section pt-100 pb-70 bg-off-white">
    <div class="container">
        <div class="section-title section-title-lg"> <small>Cybersecurity Services</small>
            <h2> Different Types Of <span>Pricing Plans</span></h2> </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 pb-30">
                <div class="pricing-item text-center">
                    <div class="pricing-item-inner">
                        <h3>Standard</h3>
                        <div class="pricing-info">
                            <h4 class="pricing-info-title"><span>Free / </span>Per Month</h4> </div>
                        <ul class="pricing-list">
                            <li>30 Days Product Testing</li>
                            <li>Upgrade Anytime Protection</li>
                            <li>500 Malware Removal</li>
                            <li>24/7 Live Assistance</li>
                            <li>Scan Every 12 Hrs</li>
                            <li>Configure Software One-time</li>
                        </ul>
                        <div class="pricing-button"> <a href="#" class="btn btn-border">Purchase Now</a> </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 pb-30">
                <div class="pricing-item text-center">
                    <div class="pricing-item-inner">
                        <h3>Popular</h3>
                        <div class="pricing-info">
                            <h4 class="pricing-info-title"><span>$45 / </span>Per Month</h4> </div>
                        <ul class="pricing-list">
                            <li>40 Days Product Testing</li>
                            <li>Upgrade Anytime Protection</li>
                            <li>1000 Malware Removal</li>
                            <li>24/7 Live Assistance</li>
                            <li>Scan Every 13 Hrs</li>
                            <li>Configure Software One-time</li>
                        </ul>
                        <div class="pricing-button"> <a href="#" class="btn btn-border">Purchase Now</a> </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 pb-30 offset-md-3 offset-lg-0">
                <div class="pricing-item text-center">
                    <div class="pricing-item-inner">
                        <h3>Gold</h3>
                        <div class="pricing-info">
                            <h4 class="pricing-info-title"><span>$76 / </span>Per Month</h4> </div>
                        <ul class="pricing-list">
                            <li>50 Days Product Testing</li>
                            <li>Upgrade Anytime Protection</li>
                            <li>Unlimited Malware Removal</li>
                            <li>24/7 Live Assistance</li>
                            <li>Scan Every 14 Hrs</li>
                            <li>Configure Software Life-time</li>
                        </ul>
                        <div class="pricing-button"> <a href="#" class="btn btn-border">Purchase Now</a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>