<section class="team-section p-tb-100">
    <div class="container">
        <div class="section-title section-title-lg"> <small>Team Members</small>
            <h2>Our Professional Team <span>Members Will Help You</span></h2> </div>
        <div class="team-carousel default-carousel owl-carousel owl-theme">
            <div class="item">
                <div class="team-card team-card-two">
                    <div class="team-card-image"> <img src="assets/images/team-member-1.jpg" alt="member"> </div>
                    <div class="team-card-content">
                        <h3><a href="team-details.html">Kolin C. Ward</a></h3>
                        <h4>Performance Advisor</h4>
                        <ul class="social-list">
                            <li class="facebook-bg"><a href="#"><i class="flaticon-facebook-1"></i></a></li>
                            <li class="twitter-bg"><a href="#"><i class="flaticon-twitter"></i></a></li>
                            <li class="linkedin-bg"><a href="#"><i class="flaticon-linkedin"></i></a></li>
                            <li class="instagram-bg"><a href="#"><i class="flaticon-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="team-card team-card-two">
                    <div class="team-card-image"> <img src="assets/images/team-member-2.jpg" alt="member"> </div>
                    <div class="team-card-content">
                        <h3><a href="team-details.html">Ciaran H. Jet</a></h3>
                        <h4>Head Of Consulting</h4>
                        <ul class="social-list">
                            <li class="facebook-bg"><a href="#"><i class="flaticon-facebook-1"></i></a></li>
                            <li class="twitter-bg"><a href="#"><i class="flaticon-twitter"></i></a></li>
                            <li class="linkedin-bg"><a href="#"><i class="flaticon-linkedin"></i></a></li>
                            <li class="instagram-bg"><a href="#"><i class="flaticon-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="team-card team-card-two">
                    <div class="team-card-image"> <img src="assets/images/team-member-3.jpg" alt="member"> </div>
                    <div class="team-card-content">
                        <h3><a href="team-details.html">Jecton N. Gill</a></h3>
                        <h4>Commercial Director</h4>
                        <ul class="social-list">
                            <li class="facebook-bg"><a href="#"><i class="flaticon-facebook-1"></i></a></li>
                            <li class="twitter-bg"><a href="#"><i class="flaticon-twitter"></i></a></li>
                            <li class="linkedin-bg"><a href="#"><i class="flaticon-linkedin"></i></a></li>
                            <li class="instagram-bg"><a href="#"><i class="flaticon-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="team-card team-card-two">
                    <div class="team-card-image"> <img src="assets/images/team-member-4.jpg" alt="member"> </div>
                    <div class="team-card-content">
                        <h3><a href="team-details.html">John Richard</a></h3>
                        <h4>Performance Advisor</h4>
                        <ul class="social-list">
                            <li class="facebook-bg"><a href="#"><i class="flaticon-facebook-1"></i></a></li>
                            <li class="twitter-bg"><a href="#"><i class="flaticon-twitter"></i></a></li>
                            <li class="linkedin-bg"><a href="#"><i class="flaticon-linkedin"></i></a></li>
                            <li class="instagram-bg"><a href="#"><i class="flaticon-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="team-card team-card-two">
                    <div class="team-card-image"> <img src="assets/images/team-member-5.jpg" alt="member"> </div>
                    <div class="team-card-content">
                        <h3><a href="team-details.html">Devid Peterson</a></h3>
                        <h4>Sales Manager</h4>
                        <ul class="social-list">
                            <li class="facebook-bg"><a href="#"><i class="flaticon-facebook-1"></i></a></li>
                            <li class="twitter-bg"><a href="#"><i class="flaticon-twitter"></i></a></li>
                            <li class="linkedin-bg"><a href="#"><i class="flaticon-linkedin"></i></a></li>
                            <li class="instagram-bg"><a href="#"><i class="flaticon-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>