<section class="faq-section pt-100 bg-off-white overflow-hidden">
    <div class="container-fluid">
        <div class="row align-items-end">
            <div class="col-12 order-2 order-lg-1 col-lg-5">
                <div class="faq-item-image text-center"> <img src="assets/images/faq-image.png" alt="about">
                    <div class="faq-item-shape">
                        <div class="faq-shape-image"> <img src="assets/images/faq-shape-1.png" alt="shape"> </div>
                        <div class="faq-shape-image"> <img src="assets/images/faq-shape-2.png" alt="shape"> </div>
                    </div>
                </div>
            </div>
            <div class="col-12 order-1 order-lg-2 col-lg-7 pb-80 mobile-pb-0">
                <div class="max-790">
                    <div class="section-title section-title-left text-start"> <small>General Questions</small>
                        <h2>Frequently Asked <span>Questions</span></h2> </div>
                    <div class="faq-content">
                        <div class="faq-accordion-item faq-accordion-item-active">
                            <div class="faq-accordion-thumb"> <i class="flaticon-question"></i> </div>
                            <div class="faq-accordion-content">
                                <div class="faq-accordion-header">
                                    <h3 class="faq-accordion-title">How Can I Safely Browse The Internet?</h3> </div>
                                <div class="faq-accordion-body">
                                    <div class="faq-accordion-body-inner">
                                        <p class="faq-accordion-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud pora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="faq-accordion-item">
                            <div class="faq-accordion-thumb"> <i class="flaticon-question"></i> </div>
                            <div class="faq-accordion-content">
                                <div class="faq-accordion-header">
                                    <h3 class="faq-accordion-title">What Is The Best Way To Learn Cybersecurity?</h3> </div>
                                <div class="faq-accordion-body">
                                    <div class="faq-accordion-body-inner">
                                        <p class="faq-accordion-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud pora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="faq-accordion-item">
                            <div class="faq-accordion-thumb"> <i class="flaticon-question"></i> </div>
                            <div class="faq-accordion-content">
                                <div class="faq-accordion-header">
                                    <h3 class="faq-accordion-title">What Are The Costs Of A Cyber Attack?</h3> </div>
                                <div class="faq-accordion-body">
                                    <div class="faq-accordion-body-inner">
                                        <p class="faq-accordion-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud pora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="faq-accordion-item">
                            <div class="faq-accordion-thumb"> <i class="flaticon-question"></i> </div>
                            <div class="faq-accordion-content">
                                <div class="faq-accordion-header">
                                    <h3 class="faq-accordion-title">What Is A Managed Security Service?</h3> </div>
                                <div class="faq-accordion-body">
                                    <div class="faq-accordion-body-inner">
                                        <p class="faq-accordion-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud pora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>