<section class="blog-section pt-100 pb-70">
    <div class="container">
        <div class="section-title"> <small>Cybersecurity Services</small>
            <h2>Our Latest <span>Insights</span></h2> </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 pb-30">
                <div class="blog-card-two">
                    <div class="blog-card-entry"> <span>16</span> Nov 2020 </div>
                    <div class="blog-card-inner">
                        <div class="blog-card-content">
                            <h3><a href="blog-details.html">Tips To Protecting Your Business And Family</a></h3> </div>
                        <div class="blog-card-thumb">
                            <a href="blog-details.html"><img src="assets/images/blog-two-1.jpg" alt="blog"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 pb-30">
                <div class="blog-card-two">
                    <div class="blog-card-entry"> <span>12</span> Nov 2020 </div>
                    <div class="blog-card-inner">
                        <div class="blog-card-content">
                            <h3><a href="blog-details.html">Protect Your Workplace From Cyber Attacks</a></h3> </div>
                        <div class="blog-card-thumb">
                            <a href="blog-details.html"><img src="assets/images/blog-two-2.jpg" alt="blog"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 pb-30 offset-md-3 offset-lg-0">
                <div class="blog-card-two">
                    <div class="blog-card-entry"> <span>10</span> Nov 2020 </div>
                    <div class="blog-card-inner">
                        <div class="blog-card-content">
                            <h3><a href="blog-details.html">The Security Risks Of Changing Package Owners</a></h3> </div>
                        <div class="blog-card-thumb">
                            <a href="blog-details.html"><img src="assets/images/blog-two-3.jpg" alt="blog"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>