<footer>
    <div class="footer-upper pt-100 pb-80 bg-off-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <div class="footer-content-item">
                        <div class="footer-logo">
                            <img src="{{setting.logo.url}}" style="width: 70px !important" alt="logo" class="logo">  
                        </div>
                        <div class="footer-details">
                            <p>{{setting.description}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-8">
                    <div class="footer-right pl-80">
                        <div class="row">
                            <div class="col-sm-6 col-md-4 col-lg-4">
                                <div class="footer-content-list footer-content-item">
                                    <div class="footer-content-title">
                                        <h3>Cyber Services</h3> </div>
                                    <ul class="footer-details footer-list">
                                        <li><a href="ai-platforms.html">Cysec Discovery</a></li>
                                        <li><a href="ai-platforms.html">Cysec On-Demand</a></li>
                                        <li><a href="ai-platforms.html">Cysec MobileSuite</a></li>
                                        <li><a href="ai-platforms.html">Cysec Continous</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-4">
                                <div class="footer-content-list footer-content-item">
                                    <div class="footer-content-title">
                                        <h3>Support & Help</h3> </div>
                                    <ul class="footer-details footer-list">
                                        <li><a href="about-us.html">About Us</a></li>
                                        <li><a href="contact-us.html">Contact Us</a></li>
                                        <li><a href="pricing.html">Pricing</a></li>
                                        <li><a href="blogs-list-with-sidebar.html">Blogs</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-4">
                                <div class="footer-content-list footer-content-item">
                                    <div class="footer-content-title">
                                        <h3>Quick Links</h3> </div>
                                    <ul class="footer-details footer-list">
                                        <li><a href="terms-services.html">Terms Of Services</a></li>
                                        <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                        <li><a href="authentication.html">Authentication</a></li>
                                        <li><a href="pricing.html">Pricing</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-lower bg-blue">
        <div class="container">
            <div class="footer-lower-grid">
                <div class="footer-lower-item footer-lower-info">
                    <div class="footer-copyright-text">
                        <p>Copyright ©2021 Design &amp; Developed By <a href="https://hibootstrap.com/" target="_blank">HiBootstrap</a></p>
                    </div>
                    <div class="footer-lower-action d-flex flex-wrap align-items-baseline">
                        <ul class="footer-action-list footer-action-list-white">
                            <li><a href="privacy-policy.html">Privacy Policy</a></li>
                            <li><a href="terms-services.html">Terms Of Services</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-lower-item">
                    <ul class="footer-lower-social">
                        <li><a href="{{setting.facebook}}" target="_blank"><i class="bx bxl-facebook"></i></a></li>
                        <li><a href="{{setting.twitter}}" target="_blank"><i class="bx bxl-twitter"></i></a></li>
                        <li><a href="{{setting.instagram}}" target="_blank"><i class="bx bxl-instagram"></i></a></li>
                        <li><a href="{{setting.telegram}}" target="_blank"><i class="bx bxl-telegram"></i></a></li>
                        <li><a href="{{setting.youtube}}" target="_blank"><i class="bx bxl-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="scroll-top" id="scrolltop">
    <div class="scroll-top-inner"> <span><i class="flaticon-up-arrow"></i></span> </div>
</div>
<div class="sidebar-modal-wrapper">
    <div class="sidebar-modal">
        <div class="sidebar-modal-inner">
            <div class="sidebar-modal-header">
                <div class="sidebar-modal-logo"> 
                    <img src="{{setting.logo.url}}" style="width: 70px !important" alt="logo" class="logo">   
                </div>
                <div class="sidebar-modal-close"> <i class="flaticon-cross-sign"></i> </div>
            </div>
            <div class="sidebar-modal-body">
                <div class="sidebar-modal-para">
                    <p>{{setting.description}}</p>
                </div>
                <div class="sidebar-modal-content-item">
                    <h4>Наши контакты:</h4>
                    <div class="contact-grid-para"><i class="flaticon-network"></i>{{setting.address}}</div>
                    <div class="contact-grid-para"> <i class="flaticon-phone-call"></i>
                        <p> <a href="tel:{{setting.phone}}">{{setting.phone}}</a>
                            <br> <a href="tel:{{setting.phone2}}">{{setting.phone2}}</a> </p>
                    </div>
                    <div class="contact-grid-para"> <i class="flaticon-email"></i>
                        <p> 
                            <a href="mailto:{{setting.email}}">
                                <span class="__cf_email__">{{setting.email}}</span>
                            </a>
                            <br> 
                            <a href="mailto:{{setting.email2}}">
                                <span class="__cf_email__">{{setting.email2}}</span>
                            </a> 
                        </p>
                    </div>
                </div>
                <div class="sidebar-modal-content-item">
                    <div class="sidebar-modal-share">
                        <p>Подписаться:</p>
                        <ul class="social-list">
                            <li><a href="{{setting.facebook}}" target="_blank"><i class="bx bxl-facebook"></i></a></li>
                            <li><a href="{{setting.twitter}}" target="_blank"><i class="bx bxl-twitter"></i></a></li>
                            <li><a href="{{setting.instagram}}" target="_blank"><i class="bx bxl-instagram"></i></a></li>
                            <li><a href="{{setting.telegram}}" target="_blank"><i class="bx bxl-telegram"></i></a></li>
                            <li><a href="{{setting.youtube}}" target="_blank"><i class="bx bxl-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
