{% extends 'base.html' %}
{% load static %}

{% block header %}
	{% include 'header-home.html' %}
{% endblock header %}

{% block content %}
    
	{% include 'home_page/1_banner.html' %}
	{% include 'home_page/2_block.html' %}
	{% include 'home_page/3_about.html' %}
	{% include 'home_page/4_partners.html' %}
	{% include 'home_page/5_service.html' %}
	{% include 'home_page/6_price.html' %}
	{% include 'home_page/7_team.html' %}
	{% include 'home_page/8_faq.html' %}
	{% include 'home_page/9_news.html' %}
	
{% endblock content %}